@{
    ViewBag.Title = "Index";
}

@for (int index = 0; index < this.Model.Length; index++)
{
    <div class="blogPost">
        <h2>@this.Model[index].Title</h2>
        <small>@this.Model[index].PostDate</small><br />
        Author: <a href="@this.Model[index].SiteUrl">@this.Model[index].Author</a><br />

        @this.Model[index].Content<br />

        @if (this.Model[index].Image != null)
        {
            <img src="data:image/png;base64,@Convert.ToBase64String(this.Model[index].Image)" /><br />
        }

        @if (this.Model[index].Video != null)
        {
            <video width="320" height="240" controls>
                <source src="@this.Model[index].Video" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        }

        
            @if (this.Model[index].Comments != null)
            {
                <small>@this.Model[index].Comments.Count comments</small><br />
                <div class="commentsSection">
                    <ul style="padding:10px">
                        @for (int commentIndex = 0; commentIndex < this.Model[index].Comments.Count; commentIndex++)
                                {
                            <li>
                                <h4>@this.Model[index].Comments[commentIndex].Title</h4>
                                Author: <a href="@this.Model[index].Comments[commentIndex].AuthorSiteUrl">@this.Model[index].Comments[commentIndex].Author</a><br />
                                @this.Model[index].Comments[commentIndex].CommentText<br /><br />
                            </li>
                            <hr/><br />
                                }
                    </ul>
                </div>
        }
        else
        {
        <small>no comments</small><br /><br />
        }
        <div class="newComment">
            <h4>Add new comment</h4>
            <form method="POST" action="/Blog/AddComment" style="padding:0px;margin:0px;border:0px" enctype="multipart/form-data">
                <input type="hidden" name="id" value="@this.Model[index].ID" />
                <label>Title: </label><input type="text" id="title" name="title" /><br />
                <label>Author: </label><input type="text" id="author" name="author" /><br />
                <label>Author Website: </label><input type="text" id="siteurl" name="siteurl" /><br />
                <label style="vertical-align:top">Content: </label><textarea id="content" name="content" style="margin-top:0px; display:inline-block; height:40px;"></textarea><br />
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
}
