<!--
 Sagi Weisman - 312490030
 Yasmin Karlin - 308417138
-->
@{
    ViewBag.Title = "EditFan";
}
<div style="border:1px solid darkgray; border-radius:10px;padding:10px">

    <h3>Edit Fan</h3>
    <form method="POST" action="/FanClub/Update" style="padding:0px;margin:0px;">
        <input type="hidden" name="id" value="@this.Model.ID" />
        First name: <input class="form-control" type="text" style="width:200px" id="firstName" name="firstName" value="@this.Model.FirstName" /><br />
        Last name: <input class="form-control" type="text" style="width:200px" id="lastName" name="lastname" value="@this.Model.LastName" /><br />
        @if (this.Model.Gender == true)
        {
            <input type="radio" name="gender" value="true" checked style="display:inline-block"><label style="display:inline-block;width:auto">Male</label>
            <input type="radio" name="gender" value="false" style="display:inline-block"><label style="display:inline-block;width:auto">Female</label><br />
        }
        else
        {
            <input type="radio" name="gender" value="true" style="display:inline-block"><label style="display:inline-block;width:auto">Male</label>
            <input type="radio" name="gender" value="false" checked style="display:inline-block"><label style="display:inline-block;width:auto">Female</label><br />
        }
        Birthdate: <input type="date" id="dateOfBirth" name="dateOfBirth" value="@this.Model.BirthDate.Date.ToString("yyyy-MM-dd")" /><br />
        Years in the club: <input type="number" id="timeInClub" name="timeInClub" value="@this.Model.TimeInClub" /><br />
        <button class="btn btn-success" type="submit">Submit</button>
    </form>
    </div>
