@{
    ViewBag.Title = "CommentsDetails";
}

<h3>Comments</h3>
<div style="border:1px solid darkgray; border-radius:10px;padding:10px">

    @if (this.Model != null)
    {
        <ul style="padding:10px;">
            @for (int index = 0; index < this.Model.Count; index++)
            {
                <li>
                    <h4>@this.Model[index].Title</h4>
                    Author: <a href="@this.Model[index].AuthorSiteUrl">@this.Model[index].Author</a><br />
                    @this.Model[index].CommentText<br />
                    <form method="POST" action="/Manager/EditComment" style="padding:0px;margin:0px;display:inline-block">
                        <input type="hidden" name="id" value="@this.Model[index].ID" />
                        <button class="btn btn-primary" type="submit">Edit</button>
                    </form>
                    <form method="POST" action="/Manager/DeleteComment" style="padding:0px;margin:0px;display:inline-block">
                        <input type="hidden" name="id" value="@this.Model[index].ID" />
                        <button class="btn btn-danger" type="submit">Delete</button>
                    </form>
                </li><br />
                <hr /><br />
            }
        </ul>
    }
    else
    {
        <label>There are no comments to this post.</label>
    }

</div>